In [2]:
from client import school_loc_details
import pandas as pd

In [4]:
df = pd.DataFrame(school_loc_details)


df transform(df):
    columns = ['dbn','school_name','primary_address_line_1','city','postcode',
               'latitude','longitude','gradespan','subway','pct_stu_safe','graduation_rate',
               'attendance_rate','college_career_rate']
    df.loc[:, columns]
    return df

,dbn,school_name,primary_address_line_1,city,postcode,latitude,longitude,gradespan,subway,pct_stu_safe,graduation_rate,attendance_rate,college_career_rate
0,01M292,Orchard Collegiate Academy,220 Henry Street,Manhattan,10002,40.713684,-73.986336,9 to 12,"F to East Broadway; J, M, Z to Delancey St-Ess...",0.95999998,0.88999999,0.92000002,0.72000003
1,01M448,University Neighborhood High School,200 Monroe Street,Manhattan,10002,40.712399,-73.984497,9 to 12,"F to East Broadway; J, M, Z to Delancey St-Ess...",0.94999999,0.94,0.91000003,0.75999999
2,01M450,East Side Community School,420 East 12th Street,Manhattan,10009,40.729589,-73.982555,6 to 12,6 to Astor Place; L to 1st Ave,0.93000001,0.89999998,0.94,0.81999999
3,01M458,Forsyth Satellite Academy,198 Forsyth Street,Manhattan,10002,40.72252,-73.990728,9 to 12,NaN,0.94999999,NaN,0.54000002,NaN
4,01M539,"New Explorations into Science, Technology and ...",111 Columbia Street,Manhattan,10002,40.718895,-73.979308,K to 12,"F, J, M, Z to Delancey St-Essex St",0.89999998,1,0.94999999,0.92000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,32K545,EBC High School for Public Service - Bushwick,1155 Dekalb Avenue,Brooklyn,11221,40.694507,-73.929107,9 to 12,J to Kosciusko St; M to Central Ave; Z to Myrt...,0.85000002,0.81,0.82999998,0.52999997
438,32K549,"Brooklyn School for Social Justice, The",400 Irving Avenue,Brooklyn,11237,40.697185,-73.91117,9 to 12,"L, M to Myrtle-Wyckoff Avs",0.88,0.72000003,0.79000002,0.31
439,32K552,"Academy of Urban Planning and Engineering, The",400 Irving Avenue,Brooklyn,11237,40.697185,-73.91117,9 to 12,"L, M to Myrtle-Wyckoff Aves",0.88999999,0.82999998,0.89999998,0.58999997
440,32K554,All City Leadership Secondary School,321 Palmetto Street,Brooklyn,11237,40.69737,-73.913171,6 to 12,"L, M to Myrtle-Wyckoff Avs",0.95999998,0.98000002,0.93000001,0.87
441,32K556,Bushwick Leaders High School for Academic Exce...,797 Bushwick Avenue,Brooklyn,11221,40.695056,-73.92814,9 to 12,J to Kosciusko St; M to Central Ave; Z to Myrt...,0.86000001,0.75999999,0.82999998,0.46000001

In [36]:
df.iloc[:,30:45]

,psal_sports_boys,graduation_rate,pct_stu_safe,attendance_rate,pct_stu_enough_variety,college_career_rate,school_accessibility,program1,interest1,seats9ge1,grade9geapplicants1,grade9geapplicantsperseat1,grade9gefilledflag1,seats9swd1,grade9swdapplicants1
0,Volleyball,0.88999999,0.95999998,0.92000002,0.81,0.72000003,Partially Accessible,Orchard Collegiate Academy,Humanities & Interdisciplinary,71,584,8,Y,19,171
1,"Basketball, Bowling, Handball",0.94,0.94999999,0.91000003,0.86000001,0.75999999,Not Accessible,CTE Computer Science or Business & Entrepreneu...,Computer Science & Technology; Business,63,412,7,N,17,135
2,"Baseball, Basketball, Soccer",0.89999998,0.93000001,0.94,0.89999998,0.81999999,Not Accessible,East Side Community,Humanities & Interdisciplinary,75,1507,20,Y,20,361
3,Basketball,NaN,0.94999999,0.54000002,0.86000001,NaN,Not Accessible,Forsyth Satellite Academy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Basketball, Fencing, Indoor Track, Soccer",1,0.89999998,0.94999999,0.81999999,0.92000002,Not Accessible,New Explorations into Science Technology and Math,Science & Math,118,5847,50,Y,32,357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,"Baseball, Basketball, Handball, Soccer",0.81,0.85000002,0.82999998,0.77999997,0.52999997,Partially Accessible,Public Service,Law & Government; Performing Arts,105,458,4,N,21,165
438,"Baseball, Basketball, Soccer, Volleyball",0.72000003,0.88,0.79000002,0.76999998,0.31,Partially Accessible,Humanities and Interdisciplinary,Humanities & Interdisciplinary,67,225,3,N,14,67
439,"Baseball, Basketball, Soccer, Volleyball",0.82999998,0.88999999,0.89999998,0.75,0.58999997,Partially Accessible,"Urban Planning, Robotics, and Engineering",Engineering; Science & Math,94,516,5,N,19,125
440,"Baseball, Basketball, Bowling, Handball, Volle...",0.98000002,0.95999998,0.93000001,0.92000002,0.87,Not Accessible,STEM and Humanities Leadership Program,Science & Math,52,1215,23,Y,10,187
441,"Baseball, Basketball, Handball, Soccer",0.75999999,0.86000001,0.82999998,0.81,0.46000001,Not Accessible,Bushwick Leaders High School for Academic Exce...,Humanities & Interdisciplinary,83,439,5,N,17,144